@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Outfit&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  padding: 0;
  margin: 0;
  background-color: #402b23;
  font-family: "Noto Serif";
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

/* .section3 {
  background-color: #402b23;
} */
.section4 {
  background-color: #f4f3f1;
}
.section5 {
  background-color: #f0d781;
}

.flip-text {
  writing-mode: vertical-lr;
  width: 100%;
  transform: rotate(180deg);
}

.half-width {
  width: 50vw;
}
