@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Outfit&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  padding: 0;
  margin: 0;
  background-color: #402b23;
  font-family: "Noto Serif";
}
.flip-text {
  writing-mode: vertical-lr;
  width: 100%;
  transform: rotate(180deg);
}

.half-width {
  width: 50vw;
}

.top-h {
  height: 80%;
}
.bottom-h {
  height: 20%;
}
